:root {
    --brand-color: #3f51b5;
  }

body {
    background: #ffffff;
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

span {
    color: var(--navyblue, #f4f4fd)
    
}

img {
    display: block
}

/* Phone screens */
.container {
    min-width: 320px;
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* Tablet screens */
@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
        padding: 0 15px;
    }
}

/* Desktop screens */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* Header section */

@media only screen and (max-width: 767.98px) {
  .header {
    padding-top: 24px;
    padding-bottom: 22px;
    border-bottom: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    
  }
}

@media only screen and (min-width: 768px) {
  .header-content {
    padding: 0;
  }
}

@media only screen and (min-width: 1158px) {
    .header-content {
      padding: 0 15px;
    }
  }

.header .container {
    background: var(--white, #FFF);
}

.header-content {
    display: flex;
    align-items: center;
}



.navigation {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navyblue, #4d5ae5);
    /* margin-right: 76px; */
    display: flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
}

@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
    .logo {
      margin-right: 76px;
    }
  }

.header-span {
    color: var(--navyblue, #2e2f42);
}

.nav-list {
    list-style: none;
    background-color: #FFFFFF;
    display: flex;
    gap: 40px;
}

@media only screen and (max-width: 767.98px) {
  .nav-list {
    display: none;
  }
  .address {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
    .address-item {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navyblue, #434455);
}
}

.nav-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navyblue, #2e2f42);
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
}

.address .list {
    gap: 40px;
}



@media only screen and (min-width: 768px) {
    .address .list {
        margin-left: 122px;
    }
    
    .address-item {
      font-size: 12px;
    }
    .address-item:hover,
    .address-item:focus {
        color: #404bbf;
        display: flex;
    }
}

@media only screen and (min-width: 1158px) {
    .address .list {
        display: flex;
        margin: 0;
        margin-left: 332px;
    }

    .address-item {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navyblue, #434455);

        gap: 40px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/* Main section */

/* Hero section */

.hero .container {
    margin: 0;
    padding: 0;

}

/* Phone screens */
.hero  {
    max-width: 1440px;
    height: 436px;
    padding: 112px 54px;
    margin: 0 auto;
    display: block;

    background-position: center center;
    background-color: var(--grey, rgba(46, 47, 66, 0.70));
    background-repeat: no-repeat;
    background-size: cover;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), 
    url(../images/hero-image-mob@1x.jpg);
}

@media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi), 
    screen and (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
            rgba(46, 47, 66, 0.7)), 
            url(../images/hero-image-mob@2x.jpg);
        }
    }

/* .hero .container {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 0;
} */

@media screen and (min-width: 768px) {
    .hero {
        height: 436px;
    
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), 
        url(../images/hero-image-tab@1x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero {
        height: 436px;
    }
    @media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
   only screen and (min-width: 768px) and (min-resolution: 192dpi),
   only screen and (min-width: 768px) and (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
            rgba(46, 47, 66, 0.7)), 
            url(../images/hero-image-tab@2x.jpg);
        }
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        height: 600px;
    
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), 
        url(../images/hero-image-desk@1x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
        height: 600px;
    }
    @media only screen and (min-width: 1158px) and (min-device-pixel-ratio: 2),
    only screen and (min-width: 1158px) and (min-resolution: 192dpi),
    only screen and (min-width: 1158px) and (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
            rgba(46, 47, 66, 0.7)), 
            url(../images/hero-image-desk@2x.jpg);
        }
    }
}

.hero-title {
    color: var(--white, #ffffff);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 36px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 107.143%; /* 107.143% */
    letter-spacing: 1.12px;
    margin-bottom: 36px;
    width: 496px;
  }

  .hero {
  }

  .hero .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
    .hero-title {
      font-size: 56px;
      line-height: 107.143%; /* 107.143% */
      letter-spacing: 1.12px;
      margin-bottom: 48px;
    }
  
    .hero .container {
      max-width: 1440px;
    }
  }

.button {
    background: var(--iris, #4D5AE5);
    color: var(--white, #FFF);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;
    margin: 0 auto;
    gap: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

/* Feutures section */

/* Phone screens */
.feutures {
    padding: 96px 16px;

}

.feutures .container{
    margin: 0 auto;
    padding: 0;
}

.feutures .list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}



/* Phone and Tablet screens */
.feutures-icons-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    display: none;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* Phone screens */
.feutures-item {
    color: var(--navyblue, #2E2F42);
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

/* Tablet screens */
@media only screen and (min-width: 768px) {
    .feutures .list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
    .feutures-title-item {
        flex-basis: calc((100% - 24px) / 2);
        width: 351px;
  }
    .feutures-item  {
        justify-content: start;
    }
} 

/* Desktop screens */
@media only screen and (min-width: 1158px) {
    .feutures .list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 24px;
    }
    .feutures-title-item {
        width: 264px;
        align-items: flex-start;
    }
    .feutures-item {
        color: var(--navyblue, #2E2F42);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2em; 
        letter-spacing: 0.4px;
        margin-bottom: 8px;
        display: flex;
    }  
    .feutures-icons-box {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    .feutures-text {
        color: var(--SLATE, #434455);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5em;
        letter-spacing: 0.32px;
        display: flex;
        width: 264px;
    }
}

/* what are we doing */

/* Phone screens */
.portfolio-section {
    display: none;
}

/* Desktop screens */
@media screen and (min-width: 1158px) {
    .portfolio-section {
        display: flex;
        padding: 15px;
    }
}

.portfolio-title {
    color: var(--navyblue, #2E2F42);
    font-size: 36px;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-section .container .list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 72px 0 120px 0;
}

.portfolio-images {
    width: calc((100% - 48px) / 3);
}


/* team section */

.team-section .container {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Phone screens */
.team-section {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

/* Tablet screens */
@media screen and (min-width: 768px) {
  .team-section {
    padding: 96px 108px;
  }
}

/* Desktop screens */
@media screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 15px;
  }
}

.team-title {
    color: var(--navyblue, #2E2F42);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
    width: 264px;
    margin-left: 0;
    margin-right: 0;
}

@media only screen and (min-width: 768px) {
  .team-title {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 768px) {
    .team-section-list {
      display: flex;
      flex-wrap: wrap;
      row-gap: 64px;
      column-gap: 24px;
    }
}

/* Phone screen */
.team-list {
    width: 264px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

/* Tablet screen */
@media only screen and (max-width: 767.98px) {
    .team-list:not(:last-child) {
      margin-bottom: 72px;
    }
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-basis: calc((100% - 24px) / 2);
    }    
}

/* Desktop screen */
@media screen and (min-width: 1158px) {
    .team-list {
        flex-basis: calc((100% - 72px) / 4);
    }
}

.cards-content {
    padding: 32px 0;
}

.team-name {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 8px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.position {
    color: var(--slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.social-links-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-icons-container{
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-team-card {
    width: 100%;
    height: 100%;
    background-color: var(--navyblue, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.social-links-team-card:hover,
.social-links-team-card:focus {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-icons {
    fill: var(--white, #f4f4fd);
}



/* Customers section */

.customer .container {
}

/* Phone screens */
.customer {
    padding: 96px 0;
}

/* Tablet screens */
@media only screen and (min-width: 768px) {
  .customer {
    padding: 96px 108px;
  }
}

/* Desktop screens */
@media only screen and (min-width: 1158px) {
    .customer {
      padding: 120px 0;
    }
}

.customer-title {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/* Phone screens */
.customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
}

/* Tablet screens */
@media only screen and (min-width: 768px) {
    .customers-list {
        column-gap: 24px;
        row-gap: 72px;
    }
}


/* Phone screens */
.customers-icons-container {
    flex-basis: calc((100% - 16px) / 2);
    height: 88px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Tablet screens */
@media only screen and (min-width: 768px) {
  .customers-icons-container {
    flex-basis: calc((100% - 48px) / 3);
  }
}

/* Desktop screens */
@media only screen and (min-width: 1158px) {
    .customers-icons-container {
      flex-basis: calc((100% - 120px) / 6);
    }
  }

.customers-links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    color: var(--color1, #8E8F99);
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-links:hover,
.customers-links:focus {
    color: #404bbf;
    border-color: #404bbf;
}

.customers-icons {
    fill: currentColor;
    flex-basis: calc((100% - 16px) / 2);
}

/* Portfolio Page */

.portfolio {
    padding-top: 96px;
    
}

.portfolio .container .list {
    flex-direction: row;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    column-gap: 24px;
    row-gap: 48px;
}

.buttons-item {
    color: var(--iris, #4D5AE5);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--cloud, #F4F4FD);
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-item:hover,
.buttons-item:focus {
    background-color: var(--ocean, #404BBF);
    color: #ffffff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

/* Portfolio section */

.service {
    width: calc((100% - 48px) / 3);
}

.service:hover,
.service:focus {
    cursor: pointer;
}

.service-links {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-links:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.service-links:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.service-card-image {
    position: relative;
    overflow: hidden;
}

.service-links:hover .overlay,
.service-links:focus .overlay {
    transform: translateY(0%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--iris, #4D5AE5);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;

    color: var(--cloud, #F4F4FD);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.container-card-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    background: var(--white, #FFF);
}

.row-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue, #2e2f42);
    margin-bottom: 8px
}

.row-text {
    color: var(--slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}

/* Footer */

/* Phone screens */
.footer {
    background: var(--navyblue, #2E2F42);
    font-family: 'Raleway', sans-serif;
    padding: 96px 0;
}
.footer-content .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navyblue, #4d5ae5);
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.footer .container {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}
.footer-content {
    margin: 0 auto;
    margin-bottom: 72px;
    width: 268px;
}
.text-footer {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    color: var(--navyblue, #fff);
}
.footer-span {
    color: #f4f4fd;
}
.footer-social-title {
    color: var(--white, #FFF);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}
.socail-icons-container {
    margin-bottom: 72px;
}
.footer-icons-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.footer-icons-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons-item:hover,
.footer-icons-item:focus {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons-links {
    width: 100%;
    height: 100%;
    background-color: var(--navyblue, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons-links:hover,
.footer-icons-links:focus {
    background-color: #31d0aa;
}
.footer-icons {
    fill: var(--color1, #f4f4fd);
}

/* footer-form */

.subscribe-form {
    width: 100%;
}
.footer-form {
    width: 100%;
    justify-content: center;
}
@media screen and (max-width: 767.98px) {
  .footer-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }    
}
.form-title {
    color: var(--WHITE, #FFF);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}
.footer-form-label {
}
.footer-form-input {
    padding-left: 16px;
    height: 40px;
    width: 100%;

    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    
    font-family: "Roboto";
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    background-color: transparent;
}

@media only screen and (max-width: 767.98px) {
  .footer-form-input {
    margin-bottom: 16px;
  }
}

.footer-form-input::placeholder {
    color: var(--WHITE, #FFF);
}
.btn-footer {
    min-width: 165px;
    margin: 0 auto;
    padding: 0;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.icon-telegram {
    margin-left: 8px;
}

/* Tablet screens */
@media only screen and (min-width: 768px) {


    .footer .container {
        display: flex;
        flex-direction: row;
        margin: 0;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .footer-content {
        margin: 0;
        margin-left: 108px;
    }
    
    .footer-content .logo {
        display: flex;
        justify-content: flex-start;
    }

    .socail-icons-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer-social-title {
        margin-bottom: 16px;
    }

    .footer-form {
        margin-left: 108px;
        display: flex;
        flex-direction: column;
    }

    .form-title {
        display: flex;
        justify-content: flex-start;
    }

    .subscribe-form {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 24px;
    }

    .footer-form-input {
        width: 264px;
    }

    .btn-footer {
        margin: 0;
    }
}

@media only screen and (max-width: 767.98px) {
    .footer-form-input {
      margin-bottom: 16px;
    }
  }
  
  .footer-form-input::placeholder {
      color: var(--WHITE, #FFF);
  }
  .btn-footer {
      min-width: 165px;
      margin: 0 auto;
      padding: 0;
      padding: 8px 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
  }
  .icon-telegram {
      margin-left: 8px;
  }
  
  /* Desktop screens */
  @media only screen and (min-width: 1158px) {
  
        .footer {
            padding: 140px 0;
        }
  
      .footer .container {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          margin: 0;
          gap: 0;
      }
  
      .footer-content {
          margin: 0;
          margin-right: 120px;
      }
      
      .footer-content .logo {
          display: flex;
          justify-content: flex-start;
      }

      .text-footer {
        width: 264px;
      }
  
      .socail-icons-container {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin: 0;
          margin-right: 80px;
      }
  
      .footer-social-title {
        justify-content: flex-start;
      }
  
      .footer-form {
        margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: start;
      }
  
      .form-title {
          display: flex;
          justify-content: flex-start;
      }
  
      .subscribe-form {
          gap: 24px;
      }
  
      .footer-form-input {
          width: 264px;
      }
  
      .btn-footer {
          margin: 0;
      }
  }


/* Modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    backdrop-filter: blur(1px);

    transition: opacity 300ms ease-out, visibility 300ms ease-out;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: var(--dairy, #FCFCFC);
    padding: 72px 24px 24px 24px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -60%);
    opacity: 0;
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-btn-icon {
    width: 8px;
    height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
    fill: #ffffff;
}

.modal-title {
    display: block;
    width: 360px;
    text-align: center;
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.modal-form {

}

.modal-containers {
    margin-bottom: 8px;
}

.modal-form-label {
    display: block;
    margin-bottom: 4px;
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    line-height: 1.17em;
    letter-spacing: 0.04em;
}

.modal-form-field {
    position: relative;
    margin-bottom: 8px;
}

.modal-form-input {
    padding: 8px 16px;
    padding-left: 38px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: var(--IRIS, #4D5AE5);
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: black;

    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);    ;
}

.modal-form-input:focus + .modal-form-icon {
    fill: var(--IRIS, #4D5AE5);
}

.modal-container-comment {
    margin-bottom: 16px;
}

.modal-form-comment {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    resize: none;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17em;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;

    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus {
    border-color: var(--IRIS, #4D5AE5);
}

.modal-form-comment::placeholder {
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
}

.modal-container-agreement {
    margin-bottom: 24px;
}

.checkbox {
    display: block;

}

.modal-form-agreement {
    color: var(--LIGHT-SLATE, #8E8F99);
    display: block;
    height: 24px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17em;
    letter-spacing: 0.04em;
}


.agreement-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;
    flex-shrink: 0;
    fill: transparent;
    margin-right: 8px;

    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .modal-form-agreement > .agreement-checkbox {
    background-color: #404BBF;
    border: none;
    fill: var(--CLOUD, #F4F4FD);
}

.modal-form-link {
    color: var(--IRIS, #4D5AE5);
    text-decoration: underline;
}

.modal-form-btn {
    display: block;
    min-width: 169px;
    height: 56px;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    margin-right: auto;
    margin-left: auto;
}

/* Mobile menu */
.menu-toggle {
    min-height: 22px;
    min-width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-left: 249px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

}

.mobile-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
    border-radius: 50%;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  
@media screen and (min-width: 768px) {
.menu-toggle {
    display: none;
}
}
  
.menu-toggle:hover,
.menu-toggle:focus {
background-color: rgba(0, 0, 0, 0.1);
}

.menu-close-icon {
}
  
.menu-container {
position: fixed;
top: 0;
left: 0;
display: flex;
flex-direction: column;
width: 100vw;
height: 100vh;
padding: 40px;
padding-top: 80px;
padding-right: 35px;
background-color: var(--WHITE, #FFF);
box-shadow: 0px 1px 6px 0px rgba(68, 75, 208, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
z-index: 999;

transform: translateX(100%);
transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
transform: translateX(0);
}

.menu-container .menu-toggle {
position: absolute;
top: 24px;
right: 24px;
}

.mobile-menu {
    margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-link {
    display: block;

    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/* For mobile & tablet screens */
.mobile-menu-link:active {
    color: var(--OCEAN, #404BBF);
}

@media (hover: hover) {
  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: var(--OCEAN, #404BBF);
  }
}

.modile-address-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}

.mobile-address-item {
    color: var(--IRIS, #4D5AE5);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.mobile-menu-socials {
    display: flex;
    align-items: center;
    gap: 56px;
}

@media only screen and (max-width: 320px) {
    .mobile-address-item {
        color: var(--IRIS, #4D5AE5);
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11em;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }    
    .mobile-menu-socials {
        display: flex;
        align-items: center;
        gap: 26px;
    }   
}

.footer-icons-links {
    width: 40px;
}

